
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;




*{
    transition: .3s;
    
    
}




@theme{
    
    --color-primaryblue:rgb(79, 195, 247);
    --color-AccentPurple:#B085F5;
    --color-DarkBackground:#1A1B23;
    --color-GlassSurface:rgb(42, 45, 58);
    --color-PureWhite:#FAFBFC;
    --color-MutedGray:#64748B;
    --background-gradienttext: linear-gradient(to right, #9333ea, #ec4899, #f59e0b);
}
